<!-- Page -->
<div class="page animsition">

  <div class="page-header">
    <ol class="breadcrumb">
      <li><a href="javascript:void(0)" data-return="cq">Call Queue</a></li>
      <li class="active"><%=type=='add'?'Add':type=='update'?'Update':''%> Queue</li>
    </ol>

  </div>
  <div class="page-content">

    <div class="row">
      <div class="col-sm-8 my-setting-box">
        <div class="panel">

          <div class="panel-heading">
            <h3 class="panel-title">
              Call Queues hold calls in a queue until an agent is available to answer the call
            </h3>
          </div>

          <div class="panel-body container-fluid">
            <div class="example padding-left-20 example-forwarding">

              <!-- 这里应该需要一个浮动的层，但不是全屏，只有这个页签 -->
              <div class="example-loading example-well height-350 vertical-align text-center" data-load="hide"
                   id="cq-apply-loading">
                <div class="loader vertical-align-middle loader-circle" data-type="default"></div>
              </div>
              <form class="form-horizontal" name="form-transports-add">
                <h5>
                  Queue general
                </h5>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Call Queue Number
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Number" autocomplete="off"
                             data-mark="default" id="cq-number" value="<%=trimValue(data.cqData, ['queue_number'])%>"
                             data-update="disabled">
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Call Queue Name
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Name" autocomplete="off"
                             data-mark="default" id="cq-queue-name" value="<%=trimValue(data.cqData, ['name'])%>">
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Ring Time(Seconds)
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Ring Time" autocomplete="off" data-init="default"
                             data-mark="default" id="cq-ring-time" value="<%=trimValue(data.cqData, ['ring_time']) || 20%>">
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Polling Strategy
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <select class="bs-select-hidden" data-role="select" data-mark="default" id="cq-polling-strategy"
                              data-selected="<%=trimValue(data.cqData, ['polling_strategy'])%>" data-init="default">
                        <option value="1">Ring Simultaneous</option>
                        <option value="2">Prioritized Hunt</option>
                        <option value="3">Cyclic Hunt</option>
                        <option value="4">Least Worked Hunt</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Music on hold
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="input-group input-group-file">
                        <input type="text" class="form-control" readonly="" data-mark="default" id="cq-music-on-hold"
                          value="<%=trimValue(data.cqData, ['music_on_hold'])%>"/>
                        <span class="input-group-btn">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-upload" aria-hidden="true"></i>
                            <input type="file" multiple="" id="cq-file-music"/>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Skip member when it on call</label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="checkbox-custom checkbox-default" style="height: 36px">
                        <input type="checkbox" id="cq-busy-member" data-mark="default" data-init="default"
                               data-checked="<%=trimValue(data.cqData, ['enable_skip_busy_member'])%>">
                        <label></label>
                      </div>
                    </div>
                  </div>
                </div>

                <h5>Call Queue members</h5>

                <div class="form-group my-form-group">

                  <div class="col-xs-1 col-sm-1"></div>
                  <div class="col-xs-12 col-sm-10 ">


                    <div
                      class="col-xs-4 col-sm-4 padding-0 margin-0 my-multi-select-box height-200 my-multi-select-box">
                      <div class="list-group" data-listbox="cq-members"
                           data-listbox-value="<%=trimArray(data.esData.extensions,'extension_number')%>"
                           data-url="/callManager/extension/list" data-page="1" data-remaining="<%=data.esData.remaining_extensions%>">
                      </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 my-width-auto padding-top-60">
                      <div class="btn-group-vertical margin-right-0" aria-label="Vertical button group" role="group">
                        <button type="button" class="btn btn-outline btn-default" id="cq-members-right">
                          <i class="icon wb-chevron-right-mini" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default" id="cq-members-left">
                          <i class="icon wb-chevron-left-mini" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                    <div
                      class="col-xs-4 col-sm-4 padding-0 margin-0 my-multi-select-box height-200 my-multi-select-box">
                      <div class="list-group" data-mark="default" id="cq-members-active" data-role="listbox"
                           data-listbox="default" data-listbox-value="<%=trimArray(data.cqData.members)%>">
                      </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 my-width-auto padding-top-60">
                      <div class="btn-group-vertical margin-right-0" aria-label="Vertical button group" role="group">
                        <button type="button" class="btn btn-outline btn-default">
                          <i class="icon wb-chevron-up" aria-hidden="true"></i>
                        </button>
                        <button type="button" class="btn btn-outline btn-default">
                          <i class="icon wb-chevron-down" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <h5>Destination if no answer</h5>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">End Call </label>

                  <div class="col-sm-7">
                    <div class="radio-custom radio-primary">
                      <input type="radio" name="cq-radio-answer" value="1" data-mark="default" data-init="checked"
                             data-checked="<%=trimValue(data.cqData, ['no_answer_action'])%>" data-init="default"
                             data-checked-child="<%=trimValue(data.cqData, ['no_answer_action_value'])%>">
                      <label></label>
                    </div>
                  </div>
                </div>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Connect to Extension</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="2" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-extension" data-click="default" data-click="default">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 col-sm-8">
                      <div class="input-group input-group-file">
                        <input type="text" class="form-control" readonly="" id="cq-radio-answer-extension" data-child="default"/>
                        <span class="input-group-btn" data-target="#addQueueExtension" data-toggle="modal">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <% include modelExtension.html %>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Connect to Ring Group</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="3" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-ring-group">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 col-sm-8">
                      <select data-role="select" id="cq-radio-answer-ring-group" data-child="default">
                        <%
                        if(data.rgsData && data.rgsData.groups) {
                          data.rgsData.groups.map(function(data,key){
                        %>
                        <option value="<%=data.ring_group_number%>"><%=data.ring_group_number%></option>
                        <%
                          });
                        } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Connect to Virtual Receptionist</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="4" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-receptionist">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 col-sm-8">
                      <select data-role="select" id="cq-radio-answer-receptionist" data-child="default">
                        <%
                        if(data.vrsData && data.vrsData.virtual_receptionists) {
                        data.vrsData.virtual_receptionists.map(function(data,key){
                        %>
                        <option value="<%=data.virtual_receptionist_number%>"><%=data.virtual_receptionist_number%></option>
                        <%
                        });
                        } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Voicemail box for Extension</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="5" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-voicemail-extension" disabled="true">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 col-sm-8">
                      <div class="input-group input-group-file">
                        <input type="text" class="form-control" readonly="" disabled="true"
                               id="cq-radio-answer-voicemail-extension" data-child="default"/>
                        <span class="input-group-btn" data-target="#cqVoicemailExtension"  disabled="true">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-search" aria-hidden="true"></i>
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <% include modelVoicemailExtension.html %>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Forward to external number</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="6" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-forward-extension">
                        <label></label>
                      </div>
                    </div>
                    <div class="col-xs-11 col-sm-8">
                      <input type="text" class="form-control" placeholder="Forward to external number"
                      data-mark="default" id="cq-radio-answer-forward-extension" data-child="default"
                      />
                    </div>
                  </div>

                </div>


                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">Repeat</label>

                  <div class="col-sm-7 padding-left-0">
                    <div class="col-xs-1 col-sm-1">
                      <div class="radio-custom radio-primary">
                        <input type="radio" name="cq-radio-answer" value="7" data-mark="default" data-associated="default"
                               data-group="cq-radio-answer-repeat" >
                        <label></label>
                      </div>
                      <input type="hidden" data-mark="update" id="cq-radio-answer-repeat" />
                    </div>
                    <div class="col-xs-11 col-sm-8">

                    </div>
                  </div>
                </div>

                <h5>Other options</h5>

                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Enable intro prompt
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="checkbox-custom checkbox-default">
                        <input type="checkbox" data-mark="default" id="cq-enable-intro-prompt"
                               data-checked="<%=trimValue(data.cqData, ['enable_intro_prompt'])%>" />
                        <label></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Play full intro prompt before calling agents
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="checkbox-custom checkbox-default">
                        <input type="checkbox" data-mark="default" id="cq-enable-play-full-intro"
                               data-checked="<%=trimValue(data.cqData, ['enable_play_full_intro'])%>" />
                        <label></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Intro prompt file
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="input-group input-group-file">
                        <input type="text" class="form-control" readonly="" data-mark="default" id="cq-intro-prompt-file"
                               value="<%=trimValue(data.cqData, ['intro_prompt_file'])%>"/>
                        <span class="input-group-btn">
                          <span class="btn btn-outline btn-file">
                            <i class="icon wb-upload"
                               aria-hidden="true"></i>
                            <input type="file" multiple="" id="cq-file-prompt" />
                          </span>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Maximum Queue Wait Time
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Maximum Queue Wait Time" autocomplete="off"
                             data-mark="default" id="cq-max-wait-time" data-init="default"
                             value="<%=trimValue(data.cqData, ['max_wait_time']) || 300 %>">
                    </div>
                    <label class="col-sm-4 control-label" style="text-align: left">
                      seconds
                    </label>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Maximum Callers in Queue
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Maximum Callers in Queue" autocomplete="off"
                             data-mark="default" id="cq-max-callers" value="<%=trimValue(data.cqData, ['max_callers'])%>" />
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Announce Queue position to caller
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <div class="checkbox-custom checkbox-default">
                        <input type="checkbox" data-mark="default" id="cq-queue-caller"
                               data-checked="<%=trimValue(data.cqData, ['enable_announce_caller_position'])%>" />
                        <label></label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group my-form-group">
                  <label class="col-sm-4 control-label">
                    Announcement Interval
                  </label>

                  <div class="col-sm-8 padding-left-0">
                    <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Announcement Interval" autocomplete="off"
                             data-mark="default" id="cq-announcement-interval"
                             value="<%=trimValue(data.cqData, ['announce_caller_position_interval'])%>" />
                    </div>
                    <label class="col-sm-4 control-label" style="text-align: left">
                      seconds
                    </label>
                  </div>
                </div>


                <div class="form-group my-form-group margin-top-30">
                  <div class="col-sm-8 col-sm-offset-4">
                    <button type="button" class="btn btn-default btn-primary btn-outline" data-return="cq">
                      Cancel
                    </button>
                    <button type="reset" class="btn btn-default btn-outline btn-primary">
                      Reset
                    </button>
                    <button type="button" class="btn btn-default btn-outline btn-primary" id="cq-apply">
                      Apply
                    </button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
      </div>
    </div>

  </div>
</div>
<!-- End Page -->