<div class="tab-pane" id="tabQuota" role="tabpanel">
  <!-- General BEGIN  -->

  <h5 class="margin-top-10">
    Current quota status
  </h5>

  <div class="form-group my-form-group">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <label class="col-sm-6 control-label">Quota for Recordings:</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off" data-mark="default"
                 id="ss-max-recordings" value="<%=trimValue(data.ssData, ['quota', 'max_recordings_quota'])%>">
        </div>
        <label class="col-sm-2 control-label">MB</label>
      </div>
      <div class="col-sm-5">
        <label class="col-sm-5 control-label">Used quota:</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off" data-mark="default"
                 id="ss-used-recordings" data-disabled="disabled" value="<%=trimValue(data.ssData, ['quota', 'used_recordings_quota'])%>">
        </div>
        <label class="col-sm-2 control-label">MB</label>
      </div>
    </div>
    <div class="col-sm-12 margin-top-5">
      <div class="col-sm-6">
        <label class="col-sm-6 control-label">Quota for VoiceMails:</label>

        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off" data-mark="default"
                 id="ss-max-voicemail" value="<%=trimValue(data.ssData, ['quota', 'max_voicemail_quota'])%>">
        </div>
        <label class="col-sm-2 control-label">MB</label>
      </div>
      <div class="col-sm-5">
        <label class="col-sm-5 control-label">Used quota:</label>

        <div class="col-sm-5">
          <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off" data-mark="default"
                 id="ss-used-voicemail" data-disabled="disabled" value="<%=trimValue(data.ssData, ['quota', 'used_voicemail_quota'])%>">
        </div>
        <label class="col-sm-2 control-label">MB</label>
      </div>
    </div>
  </div>

  <h5>Auto cleaning</h5>

  <div class="form-group my-form-group">
    <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
      <div class="checkbox-custom checkbox-default">
        <input type="checkbox" data-mark="default" id="ss-cleaning-recordings"
               data-checked="<%=trimValue(data.ssData, ['quota', 'enable_auto_cleaning_recordings'])%>" >
        <label></label>
      </div>
    </div>
    <label class="col-sm-5 control-label">Automatically delete all recordings older than</label>

    <div class="col-sm-5 padding-left-0">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off"
               data-mark="default" id="ss-cleaning-recordings-day"
               value="<%=trimValue(data.ssData, ['quota', 'auto_cleaning_recordings_days'])%>">
      </div>
      <label class="col-sm-2 control-label">days</label>
    </div>
  </div>
  <div class="form-group my-form-group">
    <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
      <div class="checkbox-custom checkbox-default">
        <input type="checkbox" data-mark="default" id="ss-cleaning-voicemail"
               data-checked="<%=trimValue(data.ssData, ['quota', 'enable_auto_cleaning_voicemail'])%>">
        <label></label>
      </div>
    </div>
    <label class="col-sm-5 control-label">Automatically delete all VoiceMails older than</label>

    <div class="col-sm-5 padding-left-0">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off"
               data-mark="default" id="ss-cleaning-voicemail-day"
               value="<%=trimValue(data.ssData, ['quota', 'auto_cleaning_voicemail_days'])%>">
      </div>
      <label class="col-sm-2 control-label">days</label>
    </div>
  </div>
  <div class="form-group my-form-group">
    <div class="col-sm-1 col-sm-offset-1" style="text-align: right;">
      <div class="checkbox-custom checkbox-default">
        <input type="checkbox" data-mark="default" id="ss-cleaning-logs"
               data-checked="<%=trimValue(data.ssData, ['quota', 'enable_auto_cleaning_logs'])%>">
        <label></label>
      </div>
    </div>
    <label class="col-sm-5 control-label">Automatically delete all log files older than</label>

    <div class="col-sm-5 padding-left-0">
      <div class="col-sm-6">
        <input type="text" class="form-control" placeholder="Unlimited" autocomplete="off"
               data-mark="default" id="ss-cleaning-logs-day"
               value="<%=trimValue(data.ssData, ['quota', 'auto_cleaning_logs_days'])%>">
      </div>
      <label class="col-sm-2 control-label">days</label>
    </div>
  </div>

  <hr>


  <!-- END  -->
</div>